@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      /* background-color: theme('colors.teal.500'); */
      background-color:rgb(253, 170, 140) ; 
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    .element-img{
        height: auto;
        width: 6rem;
    }
    .overcome-text{
        /* display: none; */
    }
    .nav-color{
        /* background-color:rgb(253, 170, 140) ; */
        background-color: teal;
        /* background-color:#66ccff ; */
    }
    .text-nav-color{
        /* color:rgb(82, 198, 216) ; */

    }
    .btn-color-1{
        background-color: rgb(253, 170, 140);
        color: black;
    }
    .body-color{
        background-color:white ;
    }
    .body-secondary-color{
        
        
        background-color: theme('colors.teal.500');
    }
    .body-third-color{
        /* background-color:#66ccff; */
    }
    .primary-btn-color{
        /* background-color: ; */
    }
    .text-main{
        color: black;
    }
    .text-heading{
        color: teal;
    }
    .success-sub-heading{
        font-size: larger;
    }
    .text-nav{
        color: black;
        font-weight: bold;
    }
    .text-read-more{
        color:rgb(28, 38, 48);
        transition: hover 500ms;
        
    }
    .text-read-more:hover{
        text-decoration: underline;
    }
}